$ff-primary: "Montserrat", sans-serif;

$ff-heading: $ff-primary;
$ff-body: $ff-primary;

$fw-light: 300;
$fw-regular: 400;
$fw-semi-bold: 500;
$fw-bold: 700;

$fs-300: 0.8125rem;
$fs-400: 0.875rem;
$fs-500: 0.9375rem;
$fs-600: 1rem;
$fs-650: 1.25rem;
$fs-700: 1.875rem;
$fs-800: 3rem;
$fs-900: 4rem;

$fs-body: $fs-400;
$fs-primary-heading: $fs-900;
$fs-secondary-heading: $fs-800;
$fs-nav: $fs-500;
$fs-button: $fs-650;
