$primary: hsl(45, 100%, 75%);
$primary-darken: hsl(45, 100%, 72%);

$accent: #5e548e;
$accent-darken: #4f496d;

$neutral: #000000;
$neutral-light: #fff;

$phone-width: 425px;
$tablet-width: 768px;
$desktop-width: 1024px;
